.cabezote {
    background-color: #333333;
}

.menu {
    color: #F0B429 !important;
    background-color: #333333;
}

a {
    color: #F0B429 !important;
    text-decoration: none;
}

.panel-texto {
    color: #333333;
    background-color: white;
}